<div class="fixed action-btn">
    <a href="./stories/add" class="btn-floating tooltipped btn-large red" data-position="right" data-delay="50" data-tooltip="Create a new story">
        <i class="fa fa-plus"></i>
    </a>
</div>