body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
    font-size: 25px;
}

footer {
    margin-top: 25px;
}

.action-btn {
    margin: 10px 0 0 10px;
}

.btn-floating {
    box-shadow: 2px 2px 3px #999;
}

.story-text {
    height: 8em;
}

.chip {
    margin-top: 1em;
}