<h2>Welcome, {{user.firstName}}</h2>
<h4>Your Stories</h4>

{{# each stories}}
<h3>{{stories.title}}</h3>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                // TODO Add the correct path
                <img src="../public/images/sample-1.jpg">
                <p>Date Added: {{stories.date}}</p>
                <a class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons"></i>
                </a>
            </div>
            <div class="card-content">
                <p>{{stories.body}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}