<div class="row">
    <h3>Register</h3>
    <form method="POST" method="/users/register" class="col s12">
        <div class="row">
            <div class="input-field col s8">
                <input id="name" type="text" name="name"="validate" placeholder="Name">
                <label for="name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input id="email" type="email" name="email" class="validate" placeholder="Email Address">
                <label for="email"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input id="password" type="password" name="password" class="validate" placeholder="Password">
                <label for="password"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input id="password2" type="password" name="password2" class="validate" placeholder="Verify Password">
                <label for="password2"></label>
            </div>
        </div>
        <div class="row">
            <input type="submit" name="submit" id="submit" value="Submit">
        </div>
    </form>
</div>